<div class="row">
<div class="col-xs-12 ">
<div class="container-fluid ">
    <div class="content">
        <div class="jumbotron ">
            <div class="text-center">
                <img src='../../assets/images/logo-login2.png' height="150" width="150">
            </div>
            <br><br>             
            <div>                            
              <h3 class="text-center">Login To Your Account</h3>
              <br><br>
              <div class="text-center">
                  <button class="loginBtn loginBtn--google" (click)="loginGoogle()" style="width: 180px">
                      Google Login    
                   </button>
              </div>              
              <div class="text-center">
                  <button class="loginBtn loginBtn--facebook" (click)="loginFaceBook()" style="width: 180px">
                      Facebook Login
                   </button>
              </div>              
            </div>
        </div>
    </div>
</div>
</div>
</div>