<div class="container">
  <div class="row">

    <div *ngFor="let profile of profiles | async">

      <div *ngIf="$index % 3 == 0" class="clearfix"></div>

      <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <div class="row">
          <img src="{{ profile.photo }}" alt="" width="200px">
        </div>
        <div class="caption">
          <h4>{{ profile.name }}</h4>
          <h6>{{ profile.email }}</h6>
          <h6>{{ profile.telephone }}</h6>
          <h6>{{ profile.skills }}</h6>
        </div>
      </div>
    </div>
  </div>
</div>